
html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
  :root {
      font-size: 62.5%
  }
  

body {
    display: flex;
    text-align: center;
    display: flex;
    margin: 0;
    flex-direction: column;
    height: 120vh;
}
#roll-button-form {
    margin-top: 20px;
}
section.dice {
    display: flex;
    grid-template-rows: repeat(1, 50px);
    grid-template-columns: repeat(5, 50px);
    grid-gap: 2vmin;
    justify-content: center;
    margin-top: 20px;
    flex-shrink: inherit;
    vertical-align: center;
  }
  section.dice > div {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-color: black;
    border-radius: 20%;
    flex-shrink: inherit;
    color: black;
    height: 10vmin;
    width: 10vmin;
  }
section.dice-hold {
    display: flex;
    grid-template-rows: repeat(1, 50px);
    grid-template-columns: repeat(5, 50px);
    grid-gap: 2vmin;
    justify-content: center;
    margin-top: 20px;
    flex-shrink: inherit;
    vertical-align: center;

  }
  section.dice-hold > div {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    font-size: 4vmin;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-color: black;
    border-radius: 20%;
    flex-shrink: inherit;
    color: black;
    height: 10vmin;
    width: 10vmin;
  }
section.score-card {
    display: grid;
    grid-template-rows: repeat(1, 40vmin);
    grid-template-columns: 15vmin 15vmin 10vmin 10vmin;
    grid-gap: 0vmin;
    justify-content: center;
    margin: 20px;
    flex-shrink: inherit;

  }
section.score-card > div > div {
    display: flex;
    flex: content;
    /* grid-template-rows: repeat(10, 4vmin); */
    /* grid-template-columns: repeat(1, 10vmin); */
    grid-gap: 0vmin;
    justify-content: center;
    margin: -1px;
    flex-shrink: inherit;
    border: 1px solid black;
    font-size: 2vmin;
    text-align: center;
    background-color: white;
    border-color: black;
    color: black;
}

